{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/exerciseSelect.css') }}"/>
      <link rel="stylesheet" href="{{ asset('css/multisetform.css') }}"/>
  {% endblock %}


     {% block body %}


         <h4>Exercise</h4>
         {% for exercises in name %} <li><a href="{{ path('exercise_details', {'id' : exercises.getId}) }}">{{ exercises.name }}</a>


             </li>{% endfor %}


     {% endblock %}